$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

h1,h2,h3,h4,h5{
  font-family: 'Rubik', sans-serif;
  text-transform: uppercase;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}


@import "http://designmodo.github.io/Flat-UI/dist/css/flat-ui.min.css";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css";
@import "https://daneden.github.io/animate.css/animate.min.css";
/*-------------------------------*/
/*           VARIABLES           */
/*-------------------------------*/

// BACKGROUND COLOR
$bg-color: white;
$accent : #eaeaea;

// TEXT COLOR
$text-color: #000;

// SIDEBAR LINK COLOR VARIABLES

$side-color-4: $bg-color;
$side-color-3: darken($side-color-4, 5%);
$side-color-2: darken($side-color-3, 5%);
$side-color-1: #1a1a1a;

$side-color-5: lighten($side-color-4, 5%);
$side-color-6: lighten($side-color-5, 5%);
$side-color-7: lighten($side-color-6, 5%);
$side-color-8: lighten($side-color-7, 5%);
$side-color-9: lighten($side-color-8, 5%);

// HAMBURGER COLOR
$hamburger-color-closed: black;
$hamburger-color-open: black;

// WIDTH VARIABLES
$width1: 220px;
$width2: 100px;
$full-width: 100%;

// HEIGHT VARIABLES
$full-height: 100%;

body {
    position: relative;
    overflow-x: hidden;
}
body,
html {
  height: $full-height;
  background-color: $bg-color;
  color: black;
}



.row.header{
     /* background: url("../images/background.jpg") black no-repeat 0 -310px fixed; */
    height: 70px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    padding: 0;
    margin: 0;

  h1{
    padding-left: 220px;
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
    letter-spacing: -2px;
    font-size: 30px;
    font-weight: 300;
  }

}

.main-container{
    z-index: 100;
    position: relative;
    margin-top: 100px;
    margin-bottom: 130px;
}


.nav {
  .open>a {
    background-color: transparent;
    &:hover {
      background-color: transparent;
    }
    &:focus {
      background-color: transparent;
    }
  }
}













/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  padding-left: 0;
  transition: all 0.5s ease;
}
#wrapper.toggled {
  padding-left: 220px;
  #sidebar-wrapper {
    width: $width1;
  }
  #page-content-wrapper {
    margin-right: -220px;
    position: absolute;
  }
}
#sidebar-wrapper {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  background: #1a1a1a;
  height: $full-height;
  left: 220px;
  margin-left: -220px;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all 0.5s ease;
  width: 0;
  z-index: 1000;
  &::-webkit-scrollbar {
    display: none;
  }
}
#page-content-wrapper {
  width: $full-width;
}
























/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: $width1;
  li {
    display: inline-block;
    line-height: 20px;
    position: relative;
    width: $full-width;
    &:before {
      background-color: #1c1c1c;
      content: '';
      height: $full-height;
      left: 0;
      position: absolute;
      top: 0;
      transition: width .2s ease-in;
      width: 3px;
      z-index: -1;
    }
    &:first-child {
      a {
        background-color: $side-color-1;
        color: #ffffff;
      }
    }
    &:nth-child(2) {
      &:before {
        background-color: $side-color-2;
      }
    }
    &:nth-child(3) {
      &:before {
        background-color: $side-color-3;
      }
    }
    &:nth-child(4) {
      &:before {
        background-color: $side-color-4;
      }
    }
    &:nth-child(5) {
      &:before {
        background-color: $side-color-5;
      }
    }
    &:nth-child(6) {
      &:before {
        background-color: $side-color-6;
      }
    }
    &:nth-child(7) {
      &:before {
        background-color: $side-color-7;
      }
    }
    &:nth-child(8) {
      &:before {
        background-color: $side-color-8;
      }
    }
    &:nth-child(9) {
      &:before {
        background-color: $side-color-9;
      }
    }
    &:hover {
      &:before {
        transition: width .2s ease-in;
        width: $full-width;
      }
    }
    a {
      color: #dddddd;
      display: block;
      padding: 10px 15px 10px 30px;
      text-decoration: none;
    }
  }
  li.open {
    &:hover {
      before {
        transition: width .2s ease-in;
        width: $full-width;
      }
    }
  }
  .dropdown-menu {
    background-color: #222222;
    border-radius: 0;
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
    position: relative;
    width: $full-width;
  }
}
.sidebar-nav li a:hover, .sidebar-nav li a:active, .sidebar-nav li a:focus, .sidebar-nav li.open a:hover, .sidebar-nav li.open a:active, .sidebar-nav li.open a:focus {
  background-color: transparent;
  color: #ffffff;
  text-decoration: none;
}
.sidebar-nav>.sidebar-brand {
  font-size: 20px;
  height: 65px;
  line-height: 44px;
}



























/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
  background: transparent;
  border: none;
  display: block;
  height: 32px;
  margin-left: 15px;
  position: fixed;
  top: 20px;
  width: 32px;
  z-index: 999;
  &:hover {
    outline: none;
  }
  &:focus {
    outline: none;
  }
  &:active {
    outline: none;
  }
}
.hamburger.is-closed {
  &:before {
    -webkit-transform: translate3d(0,0,0);
    -webkit-transition: all .35s ease-in-out;
    color: #000;
    content: '';
    display: block;
    font-size: 14px;
    line-height: 32px;
    opacity: 0;
    text-align: center;
    width: $width2;
  }
  &:hover {
    before {
      -webkit-transform: translate3d(-100px,0,0);
      -webkit-transition: all .35s ease-in-out;
      display: block;
      opacity: 1;
    }
    .hamb-top {
      -webkit-transition: all .35s ease-in-out;
      top: 0;
    }
    .hamb-bottom {
      -webkit-transition: all .35s ease-in-out;
      bottom: 0;
    }
  }
  .hamb-top {
    -webkit-transition: all .35s ease-in-out;
    background-color: $hamburger-color-closed;
    top: 5px;
  }
  .hamb-middle {
    background-color: $hamburger-color-closed;
    margin-top: -2px;
    top: 50%;
  }
  .hamb-bottom {
    -webkit-transition: all .35s ease-in-out;
    background-color: $hamburger-color-closed;
    bottom: 5px;
  }
}
.hamburger.is-closed .hamb-top, .hamburger.is-closed .hamb-middle, .hamburger.is-closed .hamb-bottom, .hamburger.is-open .hamb-top, .hamburger.is-open .hamb-middle, .hamburger.is-open .hamb-bottom  {
  height: 4px;
  left: 0;
  position: absolute;
  width: $full-width;
}
.hamburger.is-open {
  .hamb-top {
    -webkit-transform: rotate(45deg);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
    background-color: $hamburger-color-open;
    margin-top: -2px;
    top: 50%;
  }
  .hamb-middle {
    background-color: $hamburger-color-open;
    display: none;
  }
  .hamb-bottom {
    -webkit-transform: rotate(-45deg);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
    // background-color: #1a1a1a;
    background-color: $hamburger-color-open;
    margin-top: -2px;
    top: 50%;
  }
  &:before {
    -webkit-transform: translate3d(0,0,0);
    -webkit-transition: all .35s ease-in-out;
    color: #ffffff;
    content: '';
    display: block;
    font-size: 14px;
    line-height: 32px;
    opacity: 0;
    text-align: center;
    width: $width2;
  }
  &:hover {
    before {
      -webkit-transform: translate3d(-100px,0,0);
      -webkit-transition: all .35s ease-in-out;
      display: block;
      opacity: 1;
    }
  }
}
@mixin alpha-background-color($color, $background) {
  $percent: alpha($color) * 100%;
  $opaque: opacify($color, 1);
  $solid-color: mix($opaque, $background, $percent);
  background-color: $solid-color;
  background-color: $color;
}

.contrast {
  color: #1fe2ff;
}

.song-view{

}
.song-heading{
      word-wrap: break-word;
}

/*    ARTISTS  */

.artists{
  margin-bottom: 40px;

  .artist{
    position: relative;
    padding: 0;
    margin: 0;

    figure.artist-image{
      padding-bottom: 100%;
      overflow: hidden;
      position: relative;
      max-height: 100px;
      width: 100%;
      background: $accent;
      text-align: left;

      img{
        position: absolute;
        width: 100%;
        max-width: none;
        width: -webkit-calc(100% + 20px);
        width: calc(100% + 20px);
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: translate3d(-10px,0,0);
        transform: translate3d(-10px,0,0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }

      .glyphicon-play{
        color: white;
        font-size: 100px;
        position: absolute;
        top: 32%;
        left: 40%;
        z-index: 110;

      }
      
      .hover-artist{
        background: black;
        width: 100%;
        height: 100%;
      }

    }

    figure.artist-image:hover img{
      opacity: 0.4;
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
    }

    figure.artist-image:hover p{
      opacity: 0.4;
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
    }

    .artist-info{
      @include alpha-background-color(rgba(black, 0.5), white);

      cursor: pointer;
      bottom: 0;    
      position: absolute;
      width: 100%;
      z-index: 100;
      height: 100%;
      color: white;
      padding-left: 10px;

      
    }
  }
}


.label-view{
  padding: 0;
  margin-right: 10px;

  a{
    color: white;
  }
}

.player{
  width: 100%;
  height: 60px;
  position: fixed;
  bottom: 0;
  display: block;
  background-color: black;
  color: white;
  padding: 15px 0;
  z-index: 1000;

  .fa{
    font-size: 24px;
  }

  .title-controls {
    h4{
      margin: 0 0 0 10px;
    }
    h5{
      margin: 0 0 0 10px;
    }
  }

  .music-sources{
    p{
      font-size: 12px;
    }
  }

  .seekbar{
      width: 400px;
      height: 4px;
      background: white;
      margin: 10px;
      display: block;

      .position{
        width: 10px;
        height: 4px;
        background: $accent;
      }

      .fa{
        cursor: pointer;
      }

  }


}


.event-view{

  .artist{
    img{

    }

    .artist-info{
      h3{
        font-size: 14px;
      }
      h4{
        font-size: 12px;
      }

    }
  }


}