<figure class="artist-image" ng-mouseenter="artistSquare.toggleOverlay()" ng-mouseleave="artistSquare.toggleOverlay()">
	
	<figcaption ng-click="artistSquare.play(artistInfo)" ng-show="artistSquare.isHovering" class="artist-info">
		<a ui-sref="play({'artist' : artistInfo.name})"><h3>{{ artistInfo.name }}</h3></a>
		<h4 ng-hide="event.currentEvent"> label:  {{ artistInfo.label }}</h4>
		<div class="more" ng-hide="event.currentEvent">
			<i class="fa fa-soundcloud"></i>
			<i class="fa fa-facebook"></i>
			<i class="fa fa-twitter"></i>
		</div>
	</figcaption>

	<span ng-show="artistSquare.isHovering" class="glyphicon glyphicon-play"></span>
	<img ng-src="{{ artistInfo.imageUrl }}" alt="..." class="img-responsive">
</figure>