<h2>Featured Artists.</h2>
<p>You can hear from our featured artists, pick an artist or just let the music flow.</p>
<div class="row artists">
	<div ng-repeat="(artist,artistInfo) in artists.artists" class="col-sm-3 artist">
		<artist></artist>
	</div>
</div>

<div class="clearfix"></div>

<div class="row">
	<div class="col-sm-5">
		<div class="panel panel-default">
			<div class="panel-body">
				
				<form method="POST" role="form" ng-init="artists.new.genres = [];">
					<legend>Add New Artist</legend>

					<div class="form-group">
						<label for="">Artist Name</label>
						<input type="text" class="form-control" id="artistName" placeholder="Input field" ng-model="artists.new.name">
					</div>


					<div class="form-group">
						<label for="">Artist Image</label>
						<input type="text" class="form-control" id="artistName" placeholder="Input field" ng-model="artists.new.imageUrl">
					</div>

					<div class="form-group">
						<label for="">Soundcloud URL</label>
						<input type="text" class="form-control" id="soundcloudUrl" placeholder="Input field" ng-model="artists.new.soundcloudUrl">
					</div>
					
					<hr>

					<div class="form-group">
						<label for="">Artist Label</label>
						<select name="label" id="inputLabel" ng-model="artists.new.label" class="form-control" required="required">
							<option ng-repeat="label in artists.labels" value="{{ label.name }}">{{ label.name }}</option>
						</select>
					</div>

					<button type="submit" class="btn btn-primary" ng-click="artists.save()">Submit</button>
				</form>

			</div>
		</div>

	</div>
</div>