<div class="row event-view">
	
	<h1>{{ event.currentEvent.name }}</h1>

	<div class="col-sm-4">
		<figure>
			<img ng-src="{{ event.currentEvent.flyerUrl }}" class="img-responsive" alt="Image">
		</figure>
		<div class="artists-holder">
			
			<h2>Will be Playing:</h2>
		
			<div ng-repeat="(artist,artistInfo) in event.currentEvent.artists" class="col-sm-3 artist">
				<artist></artist>
			</div>
		</div>

	</div>
	
	<div class="col-sm-8 event-info">
		<p><h3>Date:</h3>{{ event.currentEvent.date }}</p>
		<p>{{ event.currentEvent.description }}</p>	
		<button type="button" class="btn btn-default btn-big">Confirm Assistance</button>
	</div>


</div>
