<div class="row">
<div class="col-sm-12">
	<h1>Events</h1>
</div>

<div  ng-repeat="event in events.events" class="col-sm-3 event-view">
	<a  ui-sref="event({eventName :  event.name })" href="#"><h3>{{ event.name }}</h3></a>
	<a  ui-sref="event({eventName :  event.name })" href="#"><img ng-src="{{ event.flyerUrl }}" class="img-responsive" alt="Image"></a>
</div>
</div>