

<div class="row">
	<div class="col-sm-5">
		<img src="images/2.jpg" class="img-responsive" alt="Image">
	</div>
	<div class="col-sm-5">
		<img src="images/3.jpg" class="img-responsive" alt="Image">
	</div>
	<div class="col-sm-2">
		<img src="images/1.jpg" class="img-responsive" alt="Image">
	</div>

	<p>This is our Playlist app, here you can find where and what tracks are played around the globe. You can submit your own tracks</p>
</div>