<h3>{{ play.artist.name }}</h3>

<div class="clearfix"></div>
<div class="row"> 
	<div class="col-sm-3">
		<figure>
			<img ng-src="{{play.artist.imageUrl}}" class="img-responsive" alt="Image">
		</figure>

		<div class="clearfix"></div>
	</div>
	<div class="col-sm-9">
		<p>{{ play.artist.bio }}</p>
		<div class="labels">
			<h4>Labels:</h4>
			<div class="label-view col-sm-1" ng-repeat="label in play.artist.labels">
				<a href="{{label.website}}"><img ng-src="{{ label.imageUrl }}" class="img-responsive" alt="Image"></a>
				<p class="small label-name"><a ng-href="{{label.website}}">{{ label.name }}</a></p>
			</div>
		</div>

		<div class="playlist">
			<iframe width="100%" height="450" scrolling="no" frameborder="no" ng-src="{{play.artist.embedUrl}}"></iframe>
		</div>

		<h3>Playlists: </h3>
		<accordion>
			<accordion-group  ng-repeat="(artistName, playlist) in play.playlists" heading="{{ artistName }}" is-open="status.isFirstOpen">
		      <song ng-repeat="song in playlist.songs"></song>
		    </accordion-group>

		</accordion>
		
	</div>

</div>
