<div class="col-sm-3 title-controls">
	<h4>Now Playing: {{ player.currentTrack }}</h4>
	<h5>{{ player.currentArtist }}</h5>
</div>
<div class="col-sm-9 controls">
	<div class="col-sm-3 buttons">
		<span><i class="fa fa-step-backward"></i></span>
		<span><i class="fa fa-pause"></i></span>
		<span><i class="fa fa-play"></i></span>
		<span><i class="fa fa-stop"></i></span>
		<span><i class="fa fa-step-forward"></i></span>

		<span><i class="fa fa-step-tasks"></i></span>
	</div>

	<div class="col-sm-5 seekbar">
		<div class="position"></div>
	</div>
	
	<div class="col-sm-2 music-sources">
		<span>Playing From:</span>
		<span><i class="fa fa-soundcloud"></i></span>
		<span><i class="fa fa-spotify"></i></span>
	</div>
</div>