
<!-- Sidebar -->
<nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
		<ul class="nav sidebar-nav">

				<li>
						<a ui-sref="home"><i class="fa fa-fw fa-home"></i> Home</a>
				</li>
				<li>
						<a ui-sref="artists"><i class="fa fa-fw fa-bank"></i>Artistas</a>
				</li>

				<li>
						<a ui-sref="playlists"><i class="fa fa-fw fa-folder"></i> Playlists</a>
				</li>
				<li>
						<a ui-sref="sync"><i class="fa fa-fw fa-file-o"></i> Sync</a>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-plus"></i> Eventos <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li class="dropdown-header">Eventos</li>
						<li><a href="#" ui-sref="events">Proximos Eventos</a></li>
						<li><a href="#">Siguientes Eventos</a></li>
						<li><a href="#">Galería de Fotos</a></li>
						<li><a href="#">Crear un Evento</a></li>
					</ul>
				</li>
				<li>
						<a href="#"><i class="fa fa-fw fa-bank"></i> Next Big Hits</a>
				</li>
				<li>
						<a href="#"><i class="fa fa-fw fa-dropbox"></i> Blog</a>
				</li>
				<li>
						<a href="#"><i class="fa fa-fw fa-twitter"></i> Social</a>
				</li>
		</ul>
</nav>
<!-- /#sidebar-wrapper -->