<div class="col-sm-3 song-view" ng-click="playlists.open(song)">
	<div class="song-heading">
		<h4>{{ song.name }}</h4>
		<span> {{ song.artist }}</span>
	</div>
	<div>
		<img ng-src="http://img.youtube.com/vi/{{ song.youtubeUrl }}/0.jpg" alt="..." class="img-rounded img-responsive">
	</div>
</div>