<div class="modal-header">
    <h3 class="modal-title">{{ modal.song.name }}!</h3>
</div>
<div class="modal-body">
	<div class="soundcloud-wrap">
		
	</div>

    <iframe width="560" height="315" ng-src="{{ modal.youtubeUrl }}" frameborder="0" allowfullscreen></iframe>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>